body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #41dfff; */
  /* background-color: #30BEB0; */
  background-color: #00BAFF;
  /* background-color: #F6537A; */
  /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
  /* background-repeat: repeat-y; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer-bg {
  margin-top: 12%;   
  bottom:0;   
  width:100%;
  /* background-color: #343A40; */  
  background: #F6537A;
  color: #fff
}

@media (max-width: 480px) {
  .footer-bg {  
    margin-top: 37%;   
    position: bottom;
    left:0;
    bottom:0;
    right:0;    
    /* background-color: #343A40; */
    background: #F6537A;
    color: #fff
  }
  
}




